/* Reset some default styles */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #881d1d;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 6rem;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(190, 152, 152, 0.1);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
#search-input{
    font-size: 2rem;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.meal-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.favorite-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.favorite-button:hover {
    background-color: #14800b;
}
